@import "/src/styles/mixins";

.display-flex {
  display: flex;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.radio-button-group {
  margin-left: 1em;

  .ui.radio.checkbox {
    margin-right: 1.5em;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.ui.label.language {
  margin: 0.1429em;
}

.bottom-margin-md {
  margin-bottom: 2rem;
}

#language-add-button {
  background-color: $nc-dark-blue;
  color: white;
}
