@import '/src/styles/mixins';

.display-flex {
  display: flex;
}

.radio-button-group {
  margin-left: 1em;

  .ui.radio.checkbox {
    margin-right: 1.5em;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.ui.label.language {
  margin: 0.14285714em;
}

.bottom-margin-md {
  margin-bottom: 2rem;
}

#language-add-button {
  background-color: $nc-dark-blue;
  color: white;
}