@import '../../styles/mixins';

.container {
  max-width: 30% !important;
}

.card {
  border: 1px solid $text_primary;
  border-radius: 2%;
  margin: 1rem;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  &_icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: visible;
    &_image {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid green;
      border-radius: 50%;
      width: 100%;
      height: auto;
      margin-bottom: 20%;
      img {
        width: 80%;
        height: auto;
        margin: 10%;
      }
    }
    &_badges {
      img {
        width: 30%;
      }
    }
  }
  &_details {
    font-family: $font;
    color: $text_primary;
    margin-top: 1em;
    h1 {
      font-family: inherit;
      font-size: 1.3em;
    }
    p {
      margin: 0;
      font-size: x-small;
    }
    hr {
      width: 90%;
      margin: 0.5rem 0;
    }
    &_stack {
      display: flex;
      flex-wrap: wrap;
      span {
        font-size: x-small;
        flex: 0 1 calc(25%);
      }
    }
  }
  button {
    background-color: $nc_dark_blue;
    color: $nc_white;
    margin-top: 1rem;
    font-size: small;
    border: none;
    border-radius: 7px;
    padding: 1rem 2rem;
    height: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color: $nc_white;
      color: $nc_dark_blue;
    }
  }
}
