@import '../../styles/mixins';

#form-labels {
  display: block;
  background: none;
  padding: 10px 0px;
  font-size: 16px;
}

#date-picker {
  position: absolute;
  z-index: 1;
  background-color: #f5f5f5;
}

#yos-to {
  font-weight: 700;
}

#yos-to-grid {
  text-align: center;
}

#edu-add-button {
  background-color: rgb(22,22,50);
  color: white;
  margin-bottom: 8%;
}

#edu-text-area {
  min-height: 150px;
  min-width: 100%;
}

#input-hidden {
  display: none;
}

