@import '../../stylesheet/mixins';

#form-labels {
  display: block;
  background: none;
  padding: 10px 0px;
  font-size: 16px;
}

#date-picker {
  position: absolute;
  z-index: 1;
  background-color: #f5f5f5;
}

#yos-to {
  font-weight: 700;
  margin: auto 0;
}

#edu-add-button {
  background-color: $nc_dark_blue;
  color: white;
  margin-bottom: 2rem;
}

#edu-text-area {
  min-height: 150px;
  min-width: 100%;
  padding: 1rem;
  background-color: $nc_gray;
  border: none;
  outline: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: solid 0.2em rgb(151, 30, 151);
  caret-color: rgb(151, 30, 151);
  opacity: 60%;
  resize: none;
  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
}

#input-hidden {
  display: none;
}

.flex-container {
  display: flex;
  gap: 2rem;
}

#edu-button-row {
  padding-top: 0;
}
