@import 'https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap';

// Colors
$nc-gray: #ececf4;
$nc-dark-blue: #161632;
$nc-white: #fffff5;
$nc-error: #DB1F1F;

// Avatar colors
$av-junior: #33ae4e;
$av-mid: #5b68c0;
$av-senior: #0a3586;
$av-architect: #161632;
$av-pro: #ed9111;

// Text-colors
$text-primary: #8E8EAC;
$text-main: #161632;

// Font
$font: 'Rubik', sans-serif;
$font-weight: (
  "regular": 300,
  "medium": 400,
  "thick": 500,
  "heavy": 700,
);

@function weight($w) {
  @return map-get($font-weight, $w);
}