@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&family=Rubik+Distressed&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap";

// Colors
$nc-gray: #ececf4;
$nc-dark-blue: #161632;
$nc-white: #fffff5;
$nc-error: #DB1F1F;

// Avatar colors
$av-junior: #33ae4e;
$av-mid: #5b68c0;
$av-senior: #0a3586;
$av-architect: #161632;
$av-pro: #ed9111;

// Text-colors
$text-primary: #8E8EAC;
$text-main: #161632;

// Font
$font: 'Roboto', sans-serif;
$font-weight: (
  "regular": 300,
  "medium": 400,
  "thick": 500,
  "heavy": 700,
);

@function weight($w) {
  @return map-get($font-weight, $w);
}