@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}

#app {
  line-height: 1.15;
  scroll-behavior: smooth;
  font-weight: weight(medium);
  font-family: $font;
}