@import '/src/styles/mixins';

#bio-add-button {
  background-color: $nc-dark-blue;
  color: white;
  margin-bottom: 2rem;
}

#button-row-position {
  padding-top: 0;
  margin-top: -0.4rem;
}

#bio-text-area {
  min-height: 150px;
  min-width: 100%;
  padding: 1rem;
  background-color: $nc-gray;
  border: none;
  outline: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: solid 0.2em rgb(151 30 151);
  caret-color: rgb(151 30 151);
  opacity: 0.6;
  resize: none;

  &:focus::placeholder {
    color: transparent;
  }
}