@import '../../stylesheet/mixins';

.dashboard {
  padding-top: 7em;
}

#cvArea {
  border: 3px solid $av_pro;
  width: 100px;
  height: 100px;
  border-style: dotted;
  padding: 30px;
}

#actLogs p span {
  font-size: 12px;
  color: gray;
  padding-left: 50px;
  display: inline-block;
}

.search {
  margin: 2em 0;
  &_result {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}