.RoleButtonContainer {
    display: flex;
    flex-direction: column;
  
    .RoleButton{
      border-radius: 0.6em;
      margin: 0.5em;
      padding: 0.4em;
      font-size: 1em;
      text-transform: uppercase;
      text-align: center;
      color:#161632;
      background-color: rgb(222, 235, 235);
      
      &.active {
        background-color: #161632;
        color: white;
      }

      &:not(.active):hover {
        text-align: center;
        color:#161632;
        background-color: #f0f0f0;
        cursor: pointer;
        border-color: #ccc; 
        transform: translateY(-2px); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      }
    }
}
