div.row {
    div.column {
        margin-bottom: 10px;

        input {
            margin-right: 10px;
        }

        a {
            button {
                color: #161632;
                background-color: #CDEDf6;
            }
        }
    }
}

.formWidth {
    width: 100%;
}

.column {
    h2.paddingTop {
        padding-top: 32px;
    }
}

