@import "../../stylesheet/mixins";

#card {
  padding: 0.5em;
  border-radius: 2%;

  span {
    text-align: center;
    padding: 0.1em;
    font-size: 12px;
    font-weight: 300;
  }

  button {
    margin-top: 1rem;
    font-size: small;
    border: none;
    margin-left: 2em;
    height: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: $nc-white;
      color: $nc-dark-blue;
    }
  }

}

.ui.card .content img {
  display: inline-block;
  vertical-align: middle;
  border: 5px solid $av-senior;
  border-radius: 50%;
  margin: 0.5em 0.8em 0.8em;
  padding: 0.2em 0.1em;
}


@mixin border-color($title) {
  @if $title == 'Senior developer' {
    border: 5px solid $av-senior;
  }
}


/* #card {
  border-radius: 2%;
  margin: 1rem;
  padding: 1rem;
  &_icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: visible;
    &_image {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid green;
      border-radius: 50%;
      width: 100%;
      height: auto;
      margin-bottom: 20%;
      mg {
        width: 100%;
        height: auto;
        margin: 100%;
      }i
    }
    &_badges {
      img {
        width: 30%;
      }
    }
  }
  &_details {
    font-family: $font;
    color: $text-primary;
    margin-top: 1em;
    h1 {
      font-family: inherit;
      font-size: 1.3em;
    }
    p {
      margin: 0;
      font-size: x-small;
    }
    hr {
      width: 90%;
      margin: 0.5rem 0;
    }
    &_stack {
      display: flex;
      flex-wrap: wrap;
      span {
        font-size: x-small;
        flex: 0 1 calc(25%);
      }
    }
  }
  button {
    background-color: $nc-dark-blue;
    color: $nc-white;
    margin-top: 1rem;
    font-size: small;
    border: none;
    border-radius: 7px;
    padding: 1rem 2rem;
    height: 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color: $nc-white;
      color: $nc-dark-blue;
    }
  }
} */