@import "../../stylesheet/mixins";

#Nav {
  background-color: $nc_dark_blue;
  border-radius: 0;
}

a {
  cursor: pointer;
}

.NavContent {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  background-color: $nc_dark_blue;
  padding: 0 10%;

  &_logo {
    width: 20%;
    display: flex;
    align-items: center;

    a {
      display: inherit;
      justify-content: start;
      align-items: center;
      height: 100%;
      width: 80%;
      margin-left: 2em;

      img {
        max-width: 80%;
        height: auto;
      }
    }
  }

  &_user {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2em;
    margin: 0 2em 0 0;

    p {
      color: $nc_white;
      font-size: 1.2em;
      margin: 0 0.8rem 0 0;
    }

    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 10%;
      margin: 0 4em 0 0;
      cursor: pointer;
      border: none;
      background-color: transparent;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        background-color: $nc_white;
        margin-right: 1em;
      }
    }
  }

  &_pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;

    a {
      display: inherit;
      align-items: center;
      text-transform: capitalize;
      color: $nc_white;
      font-size: 16px;
      height: 100%;
      padding: 0 3%;

      &:hover {
        color: $nc_dark_blue;
        background-color: $nc_white;
        border-radius: 3px;
        text-decoration: none;
      }
    }
  }
}

.PopupContent {
  line-height: normal;

  h1 {
    font-size: medium;
  }

  p {
    font-size: small;
  }

  span {
    text-transform: capitalize;
  }

  .RoleButtonContainer {
    display: flex;
    flex-direction: column;
  
    .RoleButton{
      border-radius: 0.6em;
      margin: 0.5em;
      padding: 0.4em;
      font-size: 1em;
      text-transform: uppercase;
      text-align: center;
      color:#161632;
      background-color: rgb(222, 235, 235);
      
      &.active {
        background-color: #161632;
        color: white;
      }
    }

  }
}
