@import "../../stylesheet/mixins";

.NavContent {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  height: 100px;
  width: 100%;
  background-color: $nc_dark_blue;
  padding: 0 10%;
  &_logo {
    width: 20%;
    display: flex;
    align-items: center;
    a {
      display: inherit;
      justify-content: start;
      align-items: center;
      height: 100%;
      width: 80%;
      // margin: auto;
      img {
        width: 80%;
        height: auto;
      }
    }
  }
  &_pages {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    a {
      display: inherit;
      align-items: center;
      margin: 0 2rem;
      text-transform: capitalize;
      color: $nc_white;
      font-size: 16px;
      height: 100%;
      padding: 0 3%;
      &:hover {
        color: $nc_dark_blue;
        background-color: $nc_white;
        border-radius: 3px;
        text-decoration: none;
      }
    }
  }
}
